# Server Configuration
PORT=3000

# Path to yt-dlp binary (if not in global path)
# Example Linux: /usr/local/bin/yt-dlp
# Example Windows: C:\yt-dlp.exe
YT_DLP_PATH=yt-dlp

# Frontend URL for CORS (Optional)
FRONTEND_URL=http://localhost:5173
